.page-header {
	background: #fcf8e4;
}

.page-footer {
	background: #fcf8e4;
}

.raiting_color{
	color: #250479;
}

.main_box{
	background: url(../img/block3.jpg) no-repeat;
	width: 80%;
	min-height: 1010px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}