.page-header {
	background-color: rgb(116, 158, 190);
}

.page-footer {
	background: #868da1;
}

.raiting_color{
	color: #250479;
}

.main_box{
	background: url(../img/block1.jpg) no-repeat; /*меняй название картинки block2, block3*/
	width: 80%;
	min-height: 1010px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	transition-duration: 0.5s;
}